  .conactdesgin{
         /* background: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp'); */
         color: turquoise;
         align-items: center;


}
body{
           background: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');

}