body {
  margin: 0;
  padding-top: 70px; /* fixed navbar ke liye */
}

img {
  max-width: 100%;
  height: auto;
}

/* Mobile tweaks */
@media (max-width: 576px) {
  h1, h2 {
    font-size: 18px;
  }
}
